*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}



.principal{
    width: 400px;
    height: 400px;
    min-height: 100px;
    margin: 120px auto;
    background: azure;
    font-family: 'roboto', cursive, arial;
}


h3{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0,0,0,5);
    color: grey;
}
h6{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0,0,0,5);
}

span{
   color: blue;
}


input {
    display: block;
    padding: 5px;
    width: 80%;
    margin: 20px;
    font-size: 20px;
     border-radius: 10px;
}
label{
    display: block;
    width: 100%;
    margin: 20px;
    font-size: 20px;
}

input[type="submit"] {
    background: linear-gradient(blue,#5879c4);
    border:5px;
    color: black;
     width: 30%;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 120px;
}

.text .password{
    margin-left: 20px;
    text-decoration: none;
}

.text .formulario{
    text-decoration: none;
    float: right;
    margin-right: 60px;
}

input[type="submit"]:hover {
    color: azure;
    opacity: 5%;
}

input[type="texto"]:hover {
    background: #141212;
    color: white;
    padding: 8px;
    opacity: 5%;
}
input[type="Password"]:hover {
      background: #141212;
    padding: 8px;
    color: white;
    opacity: 5%;
}

input[type="submit"]:active {
    transform: scale(0.95);
}

@media(max-width:768px){
    .principal{
      width: 60%;
    }
}

@media(max-width:480px){
    .principal{
      width: 85%;
    }
}

