*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}


body{
    background-image: url(../login/images/logo%205a.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
.principal{
    width: 400px;
    height: 420px;
    min-height: 100px;
    margin: 120px auto;
    font-family: 'roboto', cursive, arial;
    background: rgba(0,0,0,0.02);
}
.principal img{
    width: 120px;
    height: 120px;
    margin-top: -120px;
    margin-left: 140px;
    border-radius: 50%;
}

h3{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0,0,0,5);
    color: grey;
}
h6{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0,0,0,5);
}

span{
   color: blue;
}


input {
    display: block;
    padding: 5px;
    width: 80%;
    margin: 20px;
    font-size: 20px;
     border-radius: 10px;
}
label{
    display: block;
    width: 100%;
    margin: 20px;
    font-size: 20px;
}

input[type="submit"] {
    background: linear-gradient(#2929bf,#7c94cb);
    border:5px;
    color: black;
     width: 30%;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 120px;
}
.text .ingresar{
     text-decoration: none;
}
.text .password{
    margin-left: 20px;
    text-decoration: none;
}

.text .formulario{
    text-decoration: none;
    float: right;
    margin-right: 60px;
}

input[type="submit"]:hover {
    background: linear-gradient(#0000ff,#1347b9);
    color: azure;
    opacity: 5%;
}

input[type="texto"]:hover {
    background: #807b7b;
    color: white;

    opacity: 5%;
}
input[type="Password"]:hover {
    background: #807b7b;
    opacity: 5%;
}

input[type="submit"]:active {
    transform: scale(0.95);
}

input[type="texto"]:focus {
    background: black;
    color: white;
    padding: 8px;
    opacity: 5%;
}

input[type="Password"]:focus {
    background: black;
    padding: 8px;
    color: white;
    opacity: 5%;
}


@media(max-width:768px){
    .principal{
      width: 75%;
    }
}

@media(max-width:480px){
    .principal{
      width: 95%;
    }
    a{

        width: 50%;
    }
}

