/* Curso CSS estilos aprenderaprogramar.com*/
body {
  background: azure;
    padding: 0px;
    margin: 0px;
}

h3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: blue;
    text-align: center;
}
h4{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: grey;
    text-align: center;
}
.menu{
    width: 400px;
    height: 430px;
    background: rgba(0,0,0,0.05);
    margin: 10px 10px;
}

.nombre{
    margin: -150px 40px;
    width: 250px;
    float: left;
    display: flex;
}

.nombre input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
    float: right;
}
.detalle{
    margin: -100px 40px;
    width: 250px;
    float: left;
    display: flex;
}
.detalle input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
}
.cantidad{
    margin: -50px 40px;
    width: 250px;
    float: left;
    display: flex;
}
.cantidad input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
    float: right;
}
.marca{
   margin: 0px 40px;
    width: 250px;
    float: left;
    display: flex;
}
.marca input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
}
.precio{
    margin: 20px 40px;
    width: 250px;
    float: left;
    display: flex;
}
.precio input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
}
.categoria{
    margin: 0px 40px;
    width: 250px;
    float: left;
    display: flex;
}
.categoria input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
    float: right;
}
.lote{
    margin: 20px 40px;
    width: 250px;
    float: left;
    display: flex;
}
.lote input{
    width: 200px;
    height: 25px;
    display: flex;
    border-radius: 10px;
    float: right;
}
.menu label{
    margin: auto;
    color: blue;
    width: 100px;
}
.botones{
    margin: 100px 20px 0 0;
    width: 55%;
    height: 100px;
    float: right;
}

 input[type="submit"]{
    margin: 20px;
    width: 10.2%;
    height: 25px;
    background: linear-gradient(#2929bf,#7c94cb);
    border:5px;
    color: black;
    opacity: 0.8;
    border-radius: 20px;
    margin-bottom: 10px;
}



table {   
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;      
    width: 900px; 
    margin: 20px 20px;
    text-align: left;    
    border-collapse: collapse;
    float: right;
}

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;    
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

td {    
    padding: 8px;     
    background: #e8edff;    
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

input[type="submit"]:hover {
    background: linear-gradient(#0000ff,#1347b9);
    color: azure;
    opacity: 5%;
    height: 30px;
}
input[type="submit"]:active {
    transform: scale(0.95);
}

input[type="text"]:hover {
    background: black;
    color: azure;
    opacity: 5%;
    height: 25px;
    width: 300px;
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}