/* Curso CSS estilos aprenderaprogramar.com*/
body{
    /*background-image: url(../login/images/logo%205a.png);*/
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

h3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: blue;
    text-align: center;
}
h4{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: grey;
    text-align: center;
}

.menu label{
    margin: auto;
    color: blue;
    width: 100px;
}
.botones{
    margin: 10px 20px 20px 0;
    width: 800px; 
    height: auto;
    float: right;
    margin-right: 50px;
}
.botones h3,h4{
    text-align: center;
}
.subotones{
    width: 700px;
    margin: 0 auto;
}

 input[type="submit"]{
     margin-left: 50px;
    margin: 20px 40px;
    width: 90px;
    height: 30px;
    background: linear-gradient(#2929bf,#7c94cb);
    border:5px;
    color: black;
    opacity: 0.8;
    border-radius: 5px;
}



table {   
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;      
    width: 800px; 
    margin: 20px 20px 0 20px;
     margin-right: 50px;
    text-align: left;    
    border-collapse: collapse;
    float: right;
}

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;    
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

td {    
    padding: 8px;     
    background: #e8edff;    
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

input[type="submit"]:hover {
    background: linear-gradient(#0000ff,#1347b9);
    color: azure;
    opacity: 5%;
    height: 35px;
}
input[type="submit"]:active {
    transform: scale(0.95);
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}