*{
    margin: 0;
    padding: 0;
    background: #d9d6d6;
}

.principal{
   width: 90%;
    height: 400px;
    background: white;
    margin: 8% auto;
    border: 15px;
    border-color: black;
    border-radius: 10px;
}

.lista{
    height: 60px;
    background: #effcfc;
}

.lista h3{
    width: 200px;
    height: 100%;
    background: #effcfc;
    margin-left: 70px;
    display: block;
    text-align: center;
    font-size: 25px;
}

.icono{
    width: 80px;
    height: 100%;
    background: #effcfc;
    margin-left: 20px;
}

.icono3{
    width: 80px;
    height: 100%;
    float: right;
    margin: -60px;
    margin-right: 0px;
    background: #effcfc;
}
.lista .icono3 .icon-facebook2{
    background: red;
    width: 40px;
    height: 80%;
    margin: 2px auto;
}

.icono3 h4{
    color: blue;
    font-size: 12px;
    text-align: center;
    margin-top: 30%;
        background: #effcfc;
}

.lista a{
  text-decoration: none;
}
.icono2{
    width: 80px;
    height: 100%;
    float: right;
    margin: -60px;
    margin-right: 80px;
   background: #effcfc;

}
.icono2 span{
    background: red;
    width: 40px;
    height: 80%;
    margin: 2px auto;
}

.icono2 h4{
    color: blue;
    font-size: 12px;
    text-align: center;
    margin-top: 30%;
    background: #effcfc;
}


.icono1{
    width: 80px;
    height: 100%;
    float: right;
    margin: -60px;
    margin-right: 160px;
    background: #effcfc;
}
.icono1 span{
    background: red;
    width: 40px;
    height: 80%;
    margin: 2px auto;
}

.icono1 h4{
    color: blue;
    font-size: 12px;
    text-align: center;
    margin-top: 30%;
    background: #effcfc;
}
.categoria{
    height: 50px;
    background: white;
}

.categoria select{
    width: 150px;
    height: 23px;
    margin: 18px;
    background: #effcfc;
}
.categoria label{
    width: 150px;
    margin: 18px;
    background: white;
}
.categoria input{
    height: 23px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    width: 97%;
    height: 60px;
    margin: 20px auto;
}

th {
    font-size: 13px;
    font-weight: normal;
    padding: 5px;
    background: #effcfc;
    border-top: 2px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: blue;
}

td {
    padding: 5px;
    background: #ffffff;
    border-bottom: 1px solid black;
    color: #669;
    border-top: 1px solid transparent;
}
tr:hover td {
    background: #effcfc;
    color: #339;
}

.info{
    width: 97%;
    height: 30px;
    margin: -20px auto;
    background: #effcfc;
}

.info p{
    margin: -13px 0px 0px 10px;
    background: #effcfc;
}
