*{
    background-color: #a0d5e6;
}
h1{text-align: center;color: chocolate;}
h2{text-align:left;color: deeppink}
td{
    color:black;
}
table{

   border color: green;
   width: 800px;
   padding:2px;
   border-spacing: 2px;
   text-align:left;
   background-color: #e8b188;   
}